{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>
            Batman
        </h1>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum, obcaecati hic. Eius quod facere aspernatur vero quisquam voluptatibus! 
            Ipsa, sequi. Error necessitatibus esse minus non iste porro? Distinctio, placeat odio.
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/batman.png"class="img-thumbnail">
    </div>
</div>

{{> footer }}
